/USContact/.classpath
/USContact/.project
/USContact/ic_launcher-web.png
/USContact/proguard-project.txt
/USContact/project.properties
/USContact/.settings
/USContact/assets
/USContact/bin
/USContact/gen
/USContact/libs
